.navbar {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 0 20px;
  background-color: #007bff;
  color: white;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}
